[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cowsay"]
	path = cowsay
	url = https://github.com/sckott/cowsay
[submodule "fauxpas"]
	path = fauxpas
	url = https://github.com/sckott/fauxpas
[submodule "httpcode"]
	path = httpcode
	url = https://github.com/sckott/httpcode
[submodule "httping"]
	path = httping
	url = https://github.com/sckott/httping
[submodule "request"]
	path = request
	url = https://github.com/sckott/request
