[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cowsay"]
	path = cowsay
	url = https://github.com/sckott/cowsay
	shallow = true
	registered = true
[submodule "fauxpas"]
	path = fauxpas
	url = https://github.com/sckott/fauxpas
	shallow = true
	registered = true
[submodule "httpcode"]
	path = httpcode
	url = https://github.com/sckott/httpcode
	shallow = true
	registered = true
[submodule "httping"]
	path = httping
	url = https://github.com/sckott/httping
	shallow = true
	registered = true
[submodule "openadds"]
	path = openadds
	url = https://github.com/sckott/openadds
	shallow = true
	registered = true
[submodule "request"]
	path = request
	url = https://github.com/sckott/request
	shallow = true
	registered = true
